 @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body{
    background-color: black;
}

button:focus{
    outline: 0;
    font-size: 18px;
}

.row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }

/*imagens-tamanho*/

.img-fluid {
    border: 3px solid rgb(255, 255, 255); 
    border-radius: 20px;
}

/* Filtro */

.main-title {
    color: #ffffff;
    margin: 0 0 65px 0;
    font-size: 50px;
    text-align: center;
}

.main-title::after {
    content: " ";
    border-top: 2px solid #ffffff;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.project-box{
    margin-bottom: 30px;
    margin-left: 15px;
    width: 260px;
    display: inline-block;
}

.project-box {
    margin-bottom: 30px;
  }
  
#filter-btn-box {
    margin-bottom: 50px;
    text-align: center; 
}
  
#filtro-area .filter-btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    letter-spacing: 0.06em;
}
  
#filtro-area .filter-btn.active, #filtro-area .filter-btn:hover {
    color: #FFF;
    border: 1px solid #8e39f6;
    background-color: #8e39f6;
  }

/*Small Img*/

div.galeria-modal{
    width: 100%;
    height: 100%;
    background-color: black;
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    padding: 4%;
    visibility: hidden;
    z-index: 5;
}

div.galeria-modal span{
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 30px;
    color: #8e39f6;
    cursor: pointer;
}

div.galeria-modal img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

img .mini{

    width: 100%;
    padding: 2%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 30vh;
}

/*footer*/ 

.footer1{
    text-align: center;
    padding-bottom: 2px;
}

.footer1 a{
    text-decoration: none;
    color: #5C6BC0;
    padding: 7px;
    letter-spacing: 0.09em;
    font-size: 16px;
}

.footer2{   
    text-align: center;
    padding-bottom: 15px;
}

.footer2 a{
    text-decoration: none;
    color: #5C6BC0;
    padding: 7px;
    letter-spacing: 0.08em;
    font-size: 16px;
}

 @media(max-width: 425px) {

/* filtro */
  #filtro-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }
  }