
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

button:focus{
    outline: 0;
}

.row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }

/*imagens-tamanho*/


/* Filtro */

.main-title {
    color: #ffffff;
    margin: 0 0 65px 0;
    font-size: 30px;
    text-align: center;
}

.main-title::after {
    content: " ";
    border-top: 2px solid #ffffff;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.project-box{
    margin-bottom: 30px;
    margin-left: 15px;
    width: 260px;
    display: inline-block;
}

.project-box {
    margin-bottom: 30px;
  }
  
#filter-btn-box {
    margin-bottom: 50px;
    text-align: center; 
}
  
#filtro-area .filter-btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    letter-spacing: 0.06em;
}
  
#filtro-area .filter-btn.active, #filtro-area .filter-btn:hover {
    color: #FFF;
    border: 1px solid #8e39f6;
    background-color: #8e39f6;
  }

/*footer*/

.footer1{
    text-align: center;
    padding-bottom: 2px;
}

.footer1 a{
    text-decoration: none;
    color: #5C6BC0;
    padding: 7px;
    letter-spacing: 0.09em;
    font-size: 14px;
}

.footer2{   
    text-align: center;
    padding-bottom: 15px;
}

.footer2 a{
    text-decoration: none;
    color: #5C6BC0;
    padding: 7px;
    letter-spacing: 0.08em;
    font-size: 14px;
}

 @media(max-width: 425px) {

/* filtro */
  #filtro-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }
  }